sudo: false

language: node_js

node_js:
    - 10
    - 11
    - 12

matrix:
    fast_finish: true

cache:
    directories:
        - $HOME/.npm

before_install:
    - npm config set spin false
    - npm config set progress false
    - npm install -g npm@latest

install:
    - npm ci

script:
    - npm install . -g >/dev/null && npm uninstall . -g >/dev/null
    - mkdir -p "/tmp/${TRAVIS_REPO_SLUG}-test" && cd "/tmp/${TRAVIS_REPO_SLUG}-test" && npm init -y >/dev/null
    - npm install "$TRAVIS_BUILD_DIR" >/dev/null && npm uninstall "$TRAVIS_BUILD_DIR" >/dev/null
    - node -e "const config = require('${TRAVIS_REPO_SLUG##*/}');"
    - cd "$TRAVIS_BUILD_DIR"
    - npm run ci:test

after_success:
    - npm run ci:coveralls

deploy:
    - provider: npm
      email: npm@whizark.com
      api_key:
          secure: DGgGAEBf2wi/wXtHHpx9aI753iNvSoxWQPiKVmCQgT6PUqnLHL4bwqq9J1WxDyeiPo31UyY8GCUzH4BVIrl/lmaVGRu3OXtJP4jnqK6B/VRS4aYJpA53hypIW46eWluXCjCxwnt+gRLF89Aqwuh6HJWOXspdveD0sGqzeT6NBq39hhA+NiuEnKNlsS0COCf+YjK0yw9Mj7Q67F6gnRXBqHsaObNgt2qoEb9Biui42iaMAldtb4LDErMON5K3V2Pwk+oQHIsNq1Efk9BlnHAJwD08RH+8JNYluSPskJO8+4SP3AdDo7EXb5luA48VdT3PXajA4kKjCjgWOqbfJzkTbRz5f7DJo7+M5YNBoHf+wEjhGat/aegdbJuRu2Sm9BCzVM7e2JZjCXa5vVH8LxNCLniyMv9Hf6tMTm25sUPzdOHWrYvMQ86+wLjpzNySWcilp3CSlQd+IB7ysVz6h7AdtXMtosNXf19caC0pbsN6kt3fxzzRqdUadP2r9Na+aWhJAJtRsNDaYCxmO5nqS3hcWEhS6i9RWVOGQ/onNrrrA+MtH8ImBK9MqGKwMzY4t51Rx7QRTMRqu01/zeELdWIK3hpTyCeBLlbQG8tV5WIjHLTiFJo8HoQ7rJoXRl5TrymarNUccaR8+UvWFuAcAufoGW528L1I2rGQx6hSGamd238=
      on:
          node: 12
          repo: whizark/commitlint-config-cz
          branch: master
          tags: true

notifications:
    email: false

    slack:
        rooms:
            - secure: vOrkpUcbsyKeTBfVTBFOvRCJzhrsilT06aCD3TsMGI5Lj1C1ELvZrksbeqLnzF4WdN897WuiZaDbhD9ON3VTLNsqJ4Z+7MyIWAtNz36AMR5tuY/TO2R/wan93QpyAlHWnmPm6lEET/Xp3DnPwc5WlwV3N9yBHZXopt+JkBLQxecKm9Dja9ZeksHBPd2QTVmw82CJaCksVJW7T9Pkj/LRsV8Nl7gYdOD5uY4EH2EUdOlDNYME4tq4GtWkVuISst3Ca8rfnqlrGYVHk9Whi/bdLEO4MxEjuN1m61y+YgYMqmMRvErgR1VD/0p30VLRU1BLxxVzhQ+UhMGoXIvySrEc5nPYuqZ5kOUn8t8azLc585F64TNO8TjOnrblD82Eyewf/+Zn1o+Y7Hs1Jx9HjiIb66ALBI1efjBHwb7fQfjJwdiqHd+9ZtXwIvaoBeB1qZioSSLdn+Nio8VQAikaZMIMzuyOBH6SdPr98w6pJ6BQA3XVqE0zC/iaDzGqSj0xBaSQrLugx4jUDCExUpKhWMRNTp+Ny5FWw5n3EXHLFroB0brzkEx/dFPZo0UvlqH0RJVAUiLpb0imBbg/wr5bLxl/AjzMbIj5fZI3fg56Jvt31zvKMghNtvqgoPBDyI4Bhzba/90xN7Dl8sZ8jyd866Vxk2N9cjKG66pwwAdZKCJ8HKM=
        on_pull_requests: false
        on_start: never
        on_success: never
        on_failure: change
