version: '{build}'

clone_depth: 1

environment:
    matrix:
        - nodejs_version: 6
        - nodejs_version: 8
        - nodejs_version: 10
        - nodejs_version: 11

matrix:
    fast_finish: true

cache:
    - '%APPDATA%\npm-cache'

install:
    - ps: Install-Product node $env:nodejs_version
    - npm config set spin false
    - npm config set progress false
    - npm install -g npm@latest
    - npm ci

build: off

test_script:
    - node --version
    - npm --version
    - npm run ci:test

notifications:
    - provider: Email
      on_build_success: false
      on_build_failure: false
      on_build_status_changed: false
